<h1> Eldest director </h1>

<% @directors_with_dob = Director.where.not({ :dob => nil }) %>
<% @eldest_director = @directors_with_dob.all.order({ :dob => :asc }).at(0) %>

<p>
  The eldest director in our dataset right now is <a href="/directors/<%= @eldest_director.id %>"> <%= @eldest_director.name %></a>, born on <%= @eldest_director.dob.strftime("%B %e, %Y") %>.
</p>
